.brand {
    display: flex;
    margin: 0 0 63px;

    &__title-wrp {
        display: flex;
        align-items: center;
        padding: 0 0 0 92px;
        background-color: $pink-bkg;
        flex-grow: 1;
    }

    &__title {
        @include font(48px, 58px, 900);
        color: $black;
        text-transform: uppercase;
        position: relative;
    }

    &__title::before {
        content: ' ';
        width: 12px;
        height: 100%;
        background: $pink;
        position: absolute;
        left: -25px;
    }

    &__sub-title {
        display: block;
        @include font(32px, 38px, 700);
    }

    &__sub-title-pink {
        color: $pink;
    }
}